{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1 class="text-center">Création d'un événement</h1>
    {% include "event/_form.html.twig" %}
{% endblock %}

{% block title %}

{% endblock %}

