{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Gestion des sorts</h1>
    <div class="d-flex justify-content-center">
        <a class="btn btn-success" href="{{ path("app_spell_create") }}">Ajouter un nouveau sort à la liste</a>
    </div>
    {% if spells is not empty %}
            <h3 class="text-center mt-3">Liste de tous les sorts de la base de données</h3>
            {% include "spell/_spells.html.twig" %}
    {% else %}
        <h3>Aucun sort n'est disponible pour le moment.</h3>
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}

