{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'une nouvelle arme</h1>
    {{ include('entity/_form.html.twig', {form:form} ) }}
{% endblock %}

{% block title %}

{% endblock %}

