{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Gestion des armes</h1>
    <div class="d-flex justify-content-center">
        <a class="btn btn-success" href="{{ path("app_weapon_create") }}">Ajouter une nouvelle arme à la liste</a>
    </div>
    {% if weapons is not empty %}
            <h3 class="text-center mt-3">Liste des armes disponibles</h3>
            {% include "weapon/_weapons.html.twig" %}
    {% else %}
        <h3 class="text-center mt-3">Aucune arme n'est disponible pour le moment. Veuillez contacter un administrateur</h3>
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}

