{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    Création d'une entité
{% endblock %}

{% block body %}
    <h1 class="text-center">Création d'une nouvelle entité</h1>
    {{ include('entity/_form.html.twig', {form:form} ) }}
{% endblock %}
