{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Gestion des entités</h1>
    <h3 class="text-center mt-3">Liste de toutes les entités présentes dans la base de donneés</h3>
    {% include 'entity/_entities.html.twig' %}
{% endblock %}

{% block title %}

{% endblock %}

