{% extends 'base.html.twig' %}

{% block title %}
    Liste des sorts de l'entité {{ entity.firstname }}{{ entity.lastname }}
{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des sort en possession de votre entité</h1>
    {% include 'spell/_spells.html.twig' with {spells:entity.spells} %}
{% endblock %}

