{% extends 'base.html.twig' %}

{% block title %}
    Liste des armes de l'entité {{ entity.firstname }}{{ entity.lastname }}
{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des armes en possession de votre entité</h1>
    {% include 'weapon/_weapons.html.twig' with {weapons:entity.weapons} %}
{% endblock %}

