{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1 class="text-center">Création d'un nouveau morceau d'équipement dans la base de données</h1>
    {% include "gear/_form.html.twig" %}
{% endblock %}


