{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Gestion de l'équipement</h1>
    <div class="d-flex justify-content-center">
        <a class="btn btn-success" href="{{ path("app_gear_create") }}">Ajouter un nouveau morceau d'équipement à la liste</a>
    </div>
    {% if gears is not empty %}
        <h3 class="text-center mt-3">Liste d'équipement disponible</h3>
        {% include "gear/_gears.html.twig" %}
    {% else %}
        <h3 class="text-center mt-3">Aucun morceau d'équipement n'est disponible pour le moment. Veuillez contacter un administrateur</h3>
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}